{{#unknown}}
<p>
	I've got literally no idea what "{{command}}" means. Try one of these commands:
</p>
{{/unknown}}

<table>
	<thead>
		<tr class="header">
			<th align="left">
				Command
			</th>
			<th align="left">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="odd">
			<td align="left">
				play &lt;track&gt;
			</td>
			<td align="left">
				Queue this song.
			</td>
		</tr>
		<tr class="even">
			<td align="left">
				play &lt;artist&gt;
			</td>
			<td align="left">
				Queue 10 tracks by this artist.
			</td>
		</tr>
		<tr class="odd">
			<td align="left">
				play &lt;album&gt;
			</td>
			<td align="left">
				Queue this entire album.
			</td>
		</tr>
		<tr class="even">
			<td align="left">
				play &lt;something&gt; now
			</td>
			<td align="left">
				Play this shit right now!
			</td>
		</tr>
		<tr class="odd">
			<td align="left">
				what
			</td>
			<td align="left">
				Gets what is playing, and what is queued.
			</td>
		</tr>
		<tr class="even">
			<td align="left">
				next
			</td>
			<td align="left">
				Jump to the next song in the queue.
			</td>
		</tr>
		<tr class="odd">
			<td align="left">
				clear
			</td>
			<td align="left">
				Clears the current queue.
			</td>
		</tr>
		<tr class="even">
			<td align="left">
				volume?
			</td>
			<td align="left">
				Get the current volume level.
			</td>
		</tr>
		<tr class="odd">
			<td align="left">
				volume [0-100]
			</td>
			<td align="left">
				Set the volume.
			</td>
		</tr>
		<tr class="even">
			<td align="left">
				wisdom
			</td>
			<td align="left">
				Obtain it.
			</td>
		</tr>
	</tbody>
</table>