{{#unknown}}
<p>
	I've got literally no idea what "{{command}}" means. Try one of these commands:
</p>
{{/unknown}}

<table>
<thead>
<tr class="header">
<th align="left">Command</th>
<th align="left">Action</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">play <em>track</em></td>
<td align="left">Queue this song.</td>
</tr>
<tr class="even">
<td align="left">play <em>artist</em></td>
<td align="left">Queue 10 tracks by this artist.</td>
</tr>
<tr class="odd">
<td align="left">play <em>album</em></td>
<td align="left">Queue this entire album.</td>
</tr>
<tr class="even">
<td align="left">play <em>something now</em></td>
<td align="left">Play this shit right now!</td>
</tr>
<tr class="odd">
<td align="left">what</td>
<td align="left">Show what is playing, and what is queued.</td>
</tr>
<tr class="even">
<td align="left">next</td>
<td align="left">Jump to the next song in the queue.</td>
</tr>
<tr class="odd">
<td align="left">undo</td>
<td align="left">Undo the last addition to the queue.</td>
</tr>
<tr class="even">
<td align="left">clear</td>
<td align="left">Clear the queue.</td>
</tr>
<tr class="odd">
<td align="left">pause</td>
<td align="left">Pause.</td>
</tr>
<tr class="even">
<td align="left">unpause</td>
<td align="left">Unpause.</td>
</tr>
<tr class="odd">
<td align="left">volume?</td>
<td align="left">Get the current volume level.</td>
</tr>
<tr class="even">
<td align="left">volume <em>0-100</em></td>
<td align="left">Set the volume.</td>
</tr>
</tbody>
</table>
<p><br> For example:</p>
<pre><code>play coldplay
play nicki minaj starships</code></pre>
<p>Mumbletune uses Spotify to find music.</p>