{{#anything?}}
<table>
	<col width="29%">
	<col width="13%">
	<col width="19%">
	<thead>
		<tr class="header">
			<th align="left"></th>
			<th align="left">
				Track
			</th>
			<th align="left">
				Artist
			</th>
		</tr>
	</thead>
	<tbody>
{{/anything?}}

		{{#queue}}
			{{#tracks}}
			<tr>
				<td align="left">
					{{#playing?}} <span style="#a5a5a5">►</span> {{/playing?}}
				</td>
				<td align="left">
					{{name}}
				</td>
				<td align="left">
					{{artist}} <small style="color:#a5a5a5">{{username}}</small>
				</td>
			</tr>
			{{/tracks}}
		{{/queue}}

{{#anything?}}
	</tbody>
</table>
{{/anything?}}

{{^anything?}}
	Nothing is playing. :c
{{/anything?}}